.content= account.content

.row
  .col-sm
    a.title(href=`/accounts/${account.id}`) 계좌번호: #{account.id}
    h3(href=`/accounts/${account.id}`) 잔액: #{account.money}
    .author
      | create at #{moment(account.date).format('YYYY-MM-DD')}
