extends ../layout

block content
    .container
        h1.main-title 계좌번호: #{account.id}

        h2 잔액: #{account.money}
        h2 종류: #{account.type}
        h2 카드 여부: #{account.card}
        .question.show

            .buttons
                a.btn.btn-primary(href=`/accounts/${account.id}/input`) 입금
                a.btn.btn-outline-secondary(href=`/accounts/${account.id}/output`) 출금
                a.btn.btn-outline-danger.need-confirm-btn(href=`/accounts/${account.id}/sendmoney`) 계좌이체
            
        //- if question.numAnswers > 0
        //-     hr
        //-     h3 #{question.numAnswers} Answer(s)
        //-     .answers.show
        //-         each answer in answers
        //-             include _answer

        //- form(action=`/questions/${question.id}/answers`, method='POST')
        //-     .form-group
        //-         label(for='answer') Your Answer
        //-         textarea.form-control(name="content", rows="5")
        //-     button.btn.btn-primary(type="submit") Post Your Answer

