extends ../layout

block content
    .container
        h1.main-title 계좌번호: #{account.id}
        dl.row
            dt.col-sm-3 예금 계좌 종류
            dd.col-sm-9 #{account.type}

            dt.col-sm-3 예금잔고
            dd.col-sm-9 #{account.money}

            dt.col-sm-3 카드 신청 여부
            dd.col-sm-9 #{account.card}

            dt.col-sm-3 예금 개설 일자
            dd.col-sm-9 #{moment(account.date).format('YYYY-MM-DD')}


        .list.show
            .buttons
                p
                a.btn.btn-primary(href=`/accounts/${account.id}/input`) 입금
                | 
                a.btn.btn-outline-secondary(href=`/accounts/${account.id}/output`) 출금
                | 
                a.btn.btn-outline-danger.need-confirm-btn(href=`/accounts/${account.id}/sendmoney`) 계좌이체
        .list.show
            .buttons
                p
                a.btn.btn-outline-primary(href=`/accounts/${account.id}/edit`) Edit
                | 
                a.btn.btn-outline-danger.need-confirm-btn(href=`/accounts/${account.id}?_method=DELETE`) Delete

        h1.main-title 계좌 사용자 정보
        dl.row
            dt.col-sm-3 사용자 이름
            dd.col-sm-9 #{account.name}

            dt.col-sm-3 고객 주민번호
            dd.col-sm-9 #{account.userid}

            dt.col-sm-3 고객 전화번호
            dd.col-sm-9 #{account.phone}
                
        if histCount > 0
            h3 #{histCount} history(s)
            table.table.table-hover
                thead
                    tr
                    th 입출금날짜
                    th 거래번호
                    th 예금구분
                    th 예금내용
                    th 거래금액
                    th 예금잔고
                tbody
                    each history in historys
                        include _history

