.content= card.content

.row
  .col-sm
    a.title(href=`/cards/${card.id}`) 카드 번호: #{card.id}
    h3(href=`/cards/${card.id}`) 카드 종류: #{card.type}
    .author
      | create at #{moment(card.date).format('YYYY-MM-DD')}
