.form-group
  label(for="name") Card Name (empty to use default Name)
  input.form-control(type="text", name="name", placeholder="CardName", value=cards.cardname)
.form-group
  label(for="max") Card limit amount
  input.form-control(type="text", name="max", placeholder="Card limit amount", value=cards.max)
.form-group
  label(for="type") Card type
  select.form-control(type="text", name="type", placeholder="account type", value=cards.type)
    option(value="명지 사랑 카드")  명지 사랑 카드
    option(value="명지 브론즈 카드")  명지 브론즈 카드
    option(value="명지 골드 카드")  명지 골드 카드
    option(value="명지 블랙 카드")  명지 블랙 카드
    option(value="프리미엄 cs 카드")  프리미엄 cs 카드
.form-group
  label(for="account") Connect Account
  select.form-control(type="text", name="account", placeholder="Connect Account", value=cards.account)
    each account in accounts
      option(value=account.id) #{account.id}